<ul>
	<li><%= link_to "Home", root_path%></li>
	<li><%= link_to "About", staticpages_about_path %></li>
	<li><%= link_to "Contact", staticpages_contact_path %></li>
	<li><%= link_to "Help", staticpages_help_path %></li>
</ul>